@import 'root.scss';
@import '../Components/Layout/Layout.scss';
@import '../Components/Home/Home.scss';
@import '../Components/Home/product.scss';
@import '../Components/Cart/cart.scss';
@import '../Components/Form/form.scss';
*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}