
$fonts : (
    formal : ("Roboto", sans-serif),
    informal : ("Dancing Script", cursive)
);

$color : (
    perfect-perpel : (#251b28),
    minty-green : (#01332b),
    sea-green : (#8abfb2),
    lilac-gray : (#c4c4db),
    wht: (#ffffff),
    lightgreen: (#98FF98)

);

$fontsize :(
    xs : (0.75rem),
    s : (0.875rem),
    m : (1rem),
    xm : (1.1rem),
    l : (1.25rem),
    xl : (1.5rem),
    xxl : (2rem),
    xxxl : (2.5em),
    xxxxl : (4em)
);
$fonweight :(
    Min : (300),
    mid : (400),
    semi-max : (600),
    max : (700),
    ultra-max : (900)
)